{{extend 'layout-material.html'}}

{{=form.custom.begin}}


<h2>Empresa</h2>
<body class="grey lighten-3">

<div class="container">
<div class="container">
<div class="card-panel hoverable"> 
<br>
<div class="row">
	<div class="container">
		<div style="text-align: center;"><img class="responsive-img" src="/Sigedo/static/images/empresa.svg" height="100px" width="100px"><br>
            <br>
         </div>
         
      <div class="row">
        <div class="input-field col s12">
          <label class="formContatoNome" for="nome">Nome</label>
          {{=form.custom.widget.nome}}
        </div>
      </div>
      
     <div class="row">
        <div class="input-field col s12">
          <label class="formContatoRazao" for="razao">Razão Social</label>
          {{=form.custom.widget.razao}}
        </div>
      </div>

  
      <div class="row">
        <div class="input-field col s12">
          <label class="formContatoCnpj" for="cnpj">CNPJ</label>
          {{=form.custom.widget.cnpj}}
        </div>
      </div>
      
      <div class="row">
        <div class="input-field col s12">
          <label class="formContatoTelefone" for="telefone">Telefone</label>
          {{=form.custom.widget.telefone}}
        </div>
      </div>
      
      <div class="row">
        <div class="input-field col s12">
          <label class="formContatoEmail" for="email">E-Mail</label>
          {{=form.custom.widget.email}}
        </div>
      </div>
  </div>
 </div>
 </div>
 	<br>
<div class="right">
   <button class="btn waves-effect waves-light" type="submit" name="action">Enviar
    <i class="material-icons right">send</i>
  </button>
</div>
 </div>
 </div>
 </div>
 </div>
 <br>
 <br>
 <br>
 <br>
</body>


    
{{=form.custom.end}}
